body {
	font-family: 'Castoro Titling', cursive;
	background-image: url('../img/background.png');
	background-size: initial;
}

header {
	display: flex;
	justify-content: space-between;
	width: 65%;
	margin: 0 auto;
	background: url('../img/header-bg.jpg');
	background-size: cover;
	background-position: center;
}

main {
	display: flex;
	flex-direction: column;
	background-color: #111111;
	width: 65%;
	margin: 0 auto;
}

.menu {
	text-align: center;
	padding: 2em;
}

.menu ul li {
	display: inline-block;
	margin: 0 3%;
}

.menu a {
	text-transform: uppercase;
	color: #c5a800;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}

.menu a:hover {
	color: #00bac6;
	transition: 0.5s;
}

iframe {
	width: auto;
	height: 400px;
}

.title-gold {
	color: #c5a800;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin: 1em 1em;
}

.p-texto {
	text-align: justify;
	font-size: 1em;
	line-height: 1.2em;
	margin: 1em 1em;
	color: white;
}

b {
	color: #c5a800;
}

/*  */

.container-descritivo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 5px 0;
}

.personagens ul {
	display: flex;
	justify-content: space-around;
	margin: 5px 5px;
}

.personagens ul li {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	width: 32%;
	transition: all 0.5s;

	box-sizing: border-box;
	border: 2px inset #c5a800;
	border-radius: 3%;
}

.personagens ul li img {
	width: 90%;
	height: 170px;
	margin-top: 5%;
	border-radius: inherit;
}

.personagens ul li:hover,
.livros ul li:hover {
	font-weight: 600;
	width: 35%;
}

.livros ul {
	display: flex;
	justify-content: space-around;
	margin: 5px 5px;
}

.livros ul li {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	width: 32%;
	transition: all 0.5s;

	box-sizing: border-box;
	border: 2px inset #c5a800;
	border-radius: 3%;
}

.livros ul li img {
	opacity: 0.8;
	width: 90%;
	height: 340px;
	margin-top: 5%;
	border-radius: inherit;
}

/* RODAPÉ */

footer {
	display: block;
	width: 100%;
	background-color: #c5a800;
}

.itens-rodape {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.links a {
	display: grid;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.5s;
	margin: 5px 0;
}

.links a:hover {
	color: #00bac6;
	font-size: 1.8em;
}

.redes-contato {
	display: grid;
	height: 100%;
}

.redes-contato a {
	margin: 2px 0;
	color: black;
	transition: 0.5s;
}

.redes-contato a:hover {
	color: #00bac6;
}

.frase-rodape {
	display: block;
	margin: 0 auto;
	width: 65%;
	font-weight: bold;
	font-style: italic;
	padding: 5% 0;
}

.copyright {
	color: #111111;
	font-size: 0.8em;
	text-align: center;
}

hr {
	border: 2px inset #c5a800;
	margin: 2em 0;
	width: 100%;
}